@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Murecho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+QLD+Beginner&display=swap');

body{
    margin: 0px;
}
.nav{
    background-color: #FFFFFF;
    border-bottom: 1.2px #00000011 solid;
    height: 55px;
    width: 100%;
}

.tabs{
    float: right;
    margin: 18px;
    font: bolder;

}
.brand{
    margin: 4px;
    float: left;
}
.brand img{
    height: 40px;
    margin-left: 30px;
}
.btn {
    font-family: 'Montserrat', sans-serif;
    padding: 20px 10px 20px 20px;
    font-size: 16px;
    color: #080B5F;
    cursor: pointer;
    /* border: red 1px solid; */
}

.bag{
    position: relative;
    top: 3.8px;
    margin-left: 25px;
}

.banner{
    width: 99.89%;
    height: 400px;
    border: .02px rgba(73, 73, 73, 0.082) solid;
    background: rgb(193,193,193);
    background: linear-gradient(80deg, rgba(193,193,193,1) 0%, rgba(193,193,193,1) 3%, rgba(255,255,255,1) 100%);
        }

.banner-content{
    float: left;
    /* width: 300px; */
    height:100%;
    width: 50%;
}


.banner-image img{
    height: 410px;
    float: right;
    position: relative;
    top: -4.1px;
}
.title-container{
    width: 500px;
    margin-left:70px;
}
.banner-title{
    margin-top: 160px;
    line-height: 50px;
    word-spacing: 7px;
    font-size:38px;
    font-family: 'Murecho', sans-serif;
    position: relative;
    color: #080b5f;
    font-weight: 900;
}
.title-about{
    color: rgb(49, 49, 49);
    line-height: 20px;
    word-spacing: 3px;

}
.read_article{
    color: white;
    border: none;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    background-color: hwb(262 33% 22%);
    transition: all .5s;
    cursor: pointer;
    font-family: 'Murecho', sans-serif;

}
.read_article:hover{
    color: black;
    background-color: hwb(96 7% 38% / 0.61);
}
.blog_container1{
    width: 97%;
    height: 670px;
    display: flex;
    /* flex-wrap: wrap; */
    padding: 5px;
    margin-top: 30px;
    margin-left: 20px;
    
}
.bc1{
    width: 450px;
    height: 300px;
    margin: 10px 10px 0px 30px;
}
.article1{
    flex-grow: 2;
}
.article2{
    flex-grow: 2;
    /* left: -10px; */
}
.article3{
    flex-grow: 3;
    font-size: 14px;
    width: 215px;

}
.article3 p{
    font-size: 13px;
}
.article3 a{
   color: hwb(262 33% 22%);
   text-decoration: underline;
}

.article2 img{
    width: 400px;
    height: 325px;
}
.blog-img{
    width: 400px;
    height: 325px;
    border-radius: 8px;
    
}
.blog-titile{
    line-height: 50px;
    word-spacing: 7px;
    font-size:30px;
    font-family: 'Murecho', sans-serif;
    position: relative;
    color: #080b5f;
    font-weight: 900;
}
.blog-side-titile{
    color: #080b5f;

}
.art_btn{
    border: none;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    border:1px  hwb(262 33% 22%) solid;
    background-color: white;
    transition: all .5s;
    cursor: pointer;
    font-family: 'Murecho', sans-serif;
}
.art_btn:hover{
    color: black;
    background-color: hwb(96 7% 38% / 0.61);
}
.minblog{
    width: 97.8%;
    height: 480px;
    margin-left: 20px;
}
.minblog h2{
    word-spacing: 7px;
    font-size:28px;
    margin-left: 9px;
    font-family: 'Murecho', sans-serif;
    position: relative;
    color: #080b5f;
    font-weight: 900;

}
.minblogs{
    display: flex;
    justify-content: center ;
}
.minblog_item{
    width:450px ;
    height:300px;
    /* border: 2px red solid; */
    margin: 10px;

}
.blogs-img{
    width: 300px;
    height: 175px;
    border-radius: 8px;
    
}
.blogs-side-titile{
    color: #080b5f;
    font-size: 20px;
    font-weight: 600;
    margin-left: 7px;
}
.lastblog{
    /* border: 1px red solid; */
    width: 97.8%;
    height: 700px;
    margin-left: 20px;
}
.lastblogs{
    float: left;
    width: 30% ;
    margin-left: 10px;
}
.lastblog img{
    width: 58.9%;
    float: right;
    margin-right: 20px;
    margin-top: 15px;
    border-radius: 8px;
}
.lastblog a{
    color: hwb(262 33% 22%);
    text-decoration: underline;
 }
 .footer{
    display: flex;
    align-items: center;
    width: 99.8%;
    height:90px;
    background-color: #FFFFFF;
    border-top: 1.2px #00000011 solid;
    margin-top: 40px;
}
.footer p{
    margin: 0 auto;
    font-family: 'Edu QLD Beginner', cursive;
}